* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    width: 280px;
    margin: 1em .5em;
    padding: 1em 0 0 0;
}

.glass {
    background: linear-gradient(140deg, #8e8e8e, #ffffff20,#ffffff20);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
}

.card .card-img img {
    position: relative;
    margin: 5px auto;
    padding: 0;
    width: 80%;
    height: 75%;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}


.card .card-footer a {
    height: auto;
    margin: 0 auto;
    padding: .5em 4em;
    background: #0a8be7;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

.card .card-footer a:active {
    padding: .45em 3.8em;
}