* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    width: 280px;
    height: auto;
    margin: 10em 0 0 0;
    padding: 2em 0;
}

.glass {
    background: var(--shadow-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 3px solid rgb(255, 255, 255);
}

.card .card-img img {
    position: relative;
    margin: -150px auto 0 auto;
    padding: 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
    -webkit-box-shadow: 0px 19px 80px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 19px 80px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 19px 80px 1px rgba(0, 0, 0, 0.2);
}


.card .card-footer a {
    height: auto;
    margin: 0 auto;
    padding: .5em 4em;
    background: #0047FF;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

.card .card-footer a:active {
    padding: .45em 3.8em;
    background: #535353;
}

.code-img1 {
    -webkit-box-shadow: 0px 0px 100px 36px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 100px 36px rgb(255, 255, 255);
    box-shadow: 0px 0px 100px 36px rgb(255, 255, 255);
}

/* .hover-card {
    top: 10px;
    left: 10px;
    z-index: 1000;
    transition: all 3s;
} */

.card:hover .hover-card {
    top: -15px;
    z-index: 100000;
    display: flex;
    margin: 0 .6em;
}