* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: 2em 0;
    padding: .6em 1em;
    background: var(--shadow-color);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255);
    z-index: 10;
}