* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 8em 0 0 0;
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 70px;
    background: linear-gradient(130deg, #ffffffcd -5.49%, rgba(255, 255, 255, 0.105) 30.94%, rgba(255, 255, 255, 0) 71.96%, rgba(255, 255, 255, 0.224) 99.46%);
    padding: 4.35em;
    overflow: hidden;
    backdrop-filter: blur(15px);
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-radius: 45px;
    height: auto;
    padding: 5em 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: linear-gradient(117.1deg, #FFFFFF -5.49%, rgba(255, 255, 255, 0.52) 30.94%, rgba(255, 255, 255, 0.48) 71.96%, rgba(255, 255, 255, 0.74) 99.46%);
}

.contact-hover-effect {
    position: absolute;
    left: 2900px;
    width: 20%;
    height: 240%;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.498);
    z-index: 10;
    transform: rotate(35deg);
    transition: all .5s linear;

}

main:hover .contact-hover-effect {
    left: -3000px;
    box-shadow: 50px 0 0 rgba(255, 255, 255, 0.498);
}


.contact-input {
    padding: .4em .8em;
    border-radius: 30px;
    width: 100%;
    outline: none;
    font-size: 1.5em;
}


.btn {
    width: 100%;
    background: #0085FF;
}


@media (max-width: 768px) {
    .contact-instagram {
        padding: 1em;
    }

    .contact-telegram {
        padding: 1em;
    }

    .contact-input {
        width: 90%;
    }

    .btn {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .or {
        display: none;
    }

    .contact-info {
        display: none;
    }
}