* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    margin: 3em 0 0 0;
    padding: 2em 0 8em 5em;
    background: linear-gradient(150deg, #8e8e8e, #eeeeee28, #eeeeee10, #6e6e6e);
    border-top: 2px solid rgba(255, 255, 255);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

@media (max-width: 520px) {
    .footer-logo h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .footer-links a img {
        width: 20px;
        height: 20px;
    }

    .footer-text {
        font-size: .8em;
    }
}

@media (max-width: 420px) {
    .footer-text {
        margin-top: 3.5em;
        font-size: .5em;
    }
}