.swiper {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;;
  }

  .swiger-title {
    background: #07070732;
    color: #000000;
    position: absolute; 
    bottom: -35px;
    padding: .5em;
    font-size: 1.2em;
    font-weight: 400;
  }
  
  .swiger-title span {
    margin: 0 5px;
    color: #fff;
    font-weight: 200;

  }